<script>
    const {{ tab.tab }}_scan_timeout = {{ tab.timeout * 1000 }}

    function {{ tab.tab }}_make_deadline_bar() {

        var {{ tab.tab }}_iteration = 0;
        let {{ tab.tab }}_iter_timeout = 100;
        var bar_div = document.createElement('div');
        bar_div.id = '{{ tab.tab }}_bar_div';

        function {{ tab.tab }}_update_deadline_bar() {

            setTimeout(function() {

                bar_div.className = 'bar';
                var {{ tab.tab }}_percentage = ({{ tab.tab }}_iteration * {{ tab.tab }}_iter_timeout)/{{ tab.tab }}_scan_timeout * 100;

                document.getElementById('{{ tab.tab }}_bar_div').style = "background-color:rgba(0,255,0,0.50);transition: all " + 0.1 +"s;";
                document.getElementById('{{ tab.tab }}_bar_div').style.width = 100 - {{ tab.tab }}_percentage + '%';

                if ({{ tab.tab }}_percentage >= 100){
                    {{ tab.tab }}.replaceData();
                    {{ tab.tab }}_iteration = 0;
                }

                {{ tab.tab }}_update_deadline_bar();
                {{ tab.tab }}_iteration++;

            }, {{ tab.tab }}_iter_timeout);
        }
        document.getElementById('{{ tab.tab }}_meter').appendChild(bar_div);
        {{ tab.tab }}_update_deadline_bar();
    }
</script>
