<script>
    const {{ tab }}_scan_timeout = {{ timeout * 1000 }}

    function {{ tab }}_make_deadline_bar() {

        var {{ tab }}_iteration = 0;
        let {{ tab }}_iter_timeout = 100;
        var bar_div = document.createElement('div');
        bar_div.id = '{{ tab }}_bar_div';

        function {{ tab }}_update_deadline_bar() {

            setTimeout(function() {

                bar_div.className = 'bar';
                var {{ tab }}_percentage = ({{ tab }}_iteration * {{ tab }}_iter_timeout)/{{ tab }}_scan_timeout * 100;

                document.getElementById('{{ tab }}_bar_div').style = "background-color:rgba(0,255,0,0.50);transition: all " + 0.1 +"s;";
                document.getElementById('{{ tab }}_bar_div').style.width = 100 - {{ tab }}_percentage + '%';

                if ({{ tab }}_percentage >= 100){
                    {{ tab }}.replaceData();
                    {{ tab }}_iteration = 0;
                }

                {{ tab }}_update_deadline_bar();
                {{ tab }}_iteration++;

            }, {{ tab }}_iter_timeout);
        }
        document.getElementById('{{ tab }}_meter').appendChild(bar_div);
        {{ tab }}_update_deadline_bar();
    }
</script>
