<script>
    {%- for containerTab in container.module_tabs: %}
    function {{ containerTab.tab }}_reload(){
          {{ containerTab.tab }}.replaceData();
    }
    {%- endfor %}
</script>
    {%- for containerTab in container.module_tabs: %}
    {% set module = containerTab.module %}
    {% if containerTab.timeout > 0: %}
<div id="{{ containerTab.tab }}_container_buttons" style="{{ 'display:none;' if loop.index0 > 0 }}" class="container_buttons">
    <button id="{{ containerTab.tab }}_all_button" class="all_button button" value="all_button" data-action=""  data-target="{{ module }}">ALL</button>
    <button id="{{ containerTab.tab }}_none_button" class="none_button button" value="none_button" data-action=""  data-target="{{ module }}">NONE</button>
    <button id="{{ containerTab.tab }}_write_button" class="write_button button" value="write_button" data-action=""  data-target="{{ module }}">WRITE</button>
    <button id="{{ containerTab.tab }}_reload_button" class="reload_button button" value="reload_button" data-action=""  data-target="{{ module }}">RELOAD</button>
</div>
    {% endif %}
    {%- endfor %}
<script>

    var container_elements = [];

    function select_all(b){
        console.log(b);
    }

    function reload(){
        document.location.reload();
    }

    {%- for containerTab in container.module_tabs: %}
    {% if containerTab.timeout > 0: %}
    container_elements.push(document.getElementById("{{ containerTab.tab }}_all_button"));
    container_elements.push(document.getElementById("{{ containerTab.tab }}_none_button"));
    container_elements.push(document.getElementById("{{ containerTab.tab }}_write_button"));
    container_elements.push(document.getElementById("{{ containerTab.tab }}_reload_button"));

    container_elements.forEach(function(element) {

        element.addEventListener('click', function(event) {

            if (event.target.classList.contains('{{ containerTab.tab }}_all_button')) {
                select_all(this, true);
            };

            if (event.target.classList.contains('{{ containerTab.tab }}_none_button')) {
                select_all(this, false);
            };

            if (event.target.classList.contains('{{ containerTab.tab }}_write_button')) {
                write_tracked(this, event.target.attributes['data-target'].value);
            };

            if (event.target.classList.contains('{{ containerTab.tab }}_reload_button')) {
                reload();
            };
        });
    });
    {% endif %}
    {%- endfor %}
</script>
