
<!-- https://stackoverflow.com/questions/5867985/full-screen-iframe-with-a-height-of-100 -->
<div id="{{ tab }}" class="module_tab" style="position:relative;display:none;">
    <iframe src="http://localhost:5173/" allow="geolocation" height="720px;" width="100%"></iframe>
</div>
