numpy
librosa
scipy
matplotlib
sounddevice
soundfile
flask
flask-cors
opencv-python
python-geohash
sklearn
scikit-learn
pillow
protobuf
gpsdclient
requests
psutil
pytest
websocket-client
pydantic
pyjwt
pytz
aiohttp
pyyaml
markdown
torch
bs4
beautifulsoup4
aiofiles
certifi
yarl
elasticsearch
typer
pyzmq
imagezmq
pika
scapy
pyrtlsdr
pyusb
pyserial
jinja2