body {
    //display: flex;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    background-color:#333;
    color: #ffffff;
}

.sdr-info {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.time_display {
    position: absolute;
    left: 30px;
    top: 345px;
}

/*----------------*/

.spectrogram-display {
    border: 1px solid #FFF;
    width: 1025px;
    height: 400px;
    padding: 0.5em;
    background: #000;
}

.inline-display {
    display: flex;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.spectrogram {
    border: 1px solid #CCC;
}

/*----------------*/

.grid_slider {
    position: relative;
    left: 895px;
    top: 270px;
}

.grid {
    //user-select: none;
    //-webkit-user-select: none;
    //-moz-user-select: none;
    position:absolute;
    left:0px;
    top:0px;
    display:none;
}

/*----------------*/

.fileselector-display {
    display: flex;
    float: right;
    position: absolute;
    left:778px;
    top:20px;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

select {
    font-size: 0.8em;
    background-color: #000;
    color: #0F0;
    border:0px;
    outline:0px;
}

option{
    color: yellow;
}

/*----------------*/

.range-controls {
    position: absolute;
    left:30px;
    top:313px;
    float:left;
    vertical-align: bottom;
}

.rangeMinDb {
    position: absolute;
    top: 30px;
    left: 110px;
    font-size: 0.7em;
}

.rangeMaxDb {
    position: absolute;
    top: 30px;
    left: 160px;
    font-size: 0.7em;
}

/*----------------*/

.peak_checkboxes {
    position: relative;
    left:400px;
    top:34px;
    color: #FFF;
}

.peak-display {
    position: absolute;
    left:40px;
    top:305px;
    display: flex;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.peak_values {
    position: relative;
    left: 180px;
    top:12px;
    color: #FFF;
}

/*----------------*/

.button-display {
    position: absolute;
    left:30px;
    top:365px;
    display: flex;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.ctrl-buttons {
    display:grid;
    width: 1028px;
    border: 1px solid #666;
    //padding: 4px;
    grid-template-columns: repeat(15, 1fr);
}

button {
    padding: 0.4em;
    background: #333;
    border: 1px solid #666;
    color: #0F0;
    font-size: 0.9em;
}

button:hover {
    background: #005;
}

.ctrl-button {
    height: 28px;
    width: 79px;
    padding: 4px;
    background: #333;
    border: 1px solid #666;
    color: #0F0;
    //margin: 1px;
    font-size: .8em;
}

/*----------------*/

label {
  --c: #CCC;             /* slider color */
  --g: round(.3em,1px);  /* the gap */
  --l: round(.2em,1px);  /* line thickness*/
  --s: round(1.3em,1px); /* thumb size*/
  --t: round(.8em,1px);  /* tooltip tail size */
  --r: round(.8em,1px);  /* tooltip radius */
  timeline-scope: --thumb-view;
  position: relative;    /* No, It's not useless so don't remove it (or remove it and see what happens) */
  font-size: 0.9em;
}

output {
  position-anchor: --thumb;
  position: absolute;
  position-area: top;
  inset: 0 -4em;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  padding-block: .5em;
  width: 4em;
  border-bottom: var(--t) solid #0000;
  border-radius: var(--r)/var(--r) var(--r) calc(var(--r) + var(--t)) calc(var(--r) + var(--t));
  --_m: 100%/var(--t) var(--t) no-repeat;
  --_g: 100%,#0000 99%,#000 102%;
  mask:
    linear-gradient(#000 0 0) padding-box,
    radial-gradient(100% 100% at 100% var(--_g)) calc(50% + var(--t)/2) var(--_m),
    radial-gradient(100% 100% at 0    var(--_g)) calc(50% - var(--t)/2) var(--_m);
  animation: range linear both;
  animation-timeline: --thumb-view;
  animation-range: entry 100% exit 0%;
}

output.bottom {
  position-area: bottom;
  border-top: var(--t) solid #0000;
  border-bottom: none;
  border-radius: var(--r)/calc(var(--r) + var(--t)) calc(var(--r) + var(--t)) var(--r) var(--r);
  --_m: 0%/var(--t) var(--t) no-repeat;
  --_g: 0%,#0000 99%,#000 102%;
}

output:before {
  //content: counter(num);
  //counter-reset: num var(--val);
}

@keyframes range {
  0%   {background: #8A9B0F;--val:var(--max)}
  100% {background: #CC333F;--val:var(--min)}
}

@supports not (anchor-name: ---) {
  output {
    display: none;
  }
}

/*----------------*/

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  position: absolute;
  background-color: #0F0;
  pointer-events: none;
}

input:focus-visible, input:hover{
  //--p: 25%;
}

input:active, input:focus-visible{
  //--_b: var(--s)
}


/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #00FF00;
    border-radius: 2px;
    width: 2px;
    height: 2px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6px; /* Centers thumb on the track */
    border-radius: 2px;
    height: 14px;
    width: 5px;
    pointer-events: all;
    background-color: #0f0;
    cursor: pointer;

    border-image: linear-gradient(90deg,var(--_c) 50%,#ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
    -webkit-appearance: none;
    appearance: none;
    transition: .3s;
    anchor-name: --thumb;
    view-timeline: --thumb-view inline;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #00ff00;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #00FF00;
    border-radius: 1px;
    height: 2px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    background-color: #00ff00;
    border-radius: 2px;
    height: 14px;
    width: 5px;
    pointer-events: all;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;

    border-image: linear-gradient(90deg,var(--_c) 50%,#ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
    -moz-appearance: none;
    appearance: none;
    transition: .3s;
    anchor-name: --thumb;
    view-timeline: --thumb-view inline;

}

input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #00ff00;
    outline-offset: 0.125rem;
}

/*----------------*/

.lr_input[type=range] {
    width: 300px;
    margin-top: 1.35em;
    margin-left: 0.0em;
}

/*----------------*/

.ud_input[type=range][orient=vertical] {
    //-webkit-appearance: none;
    writing-mode: vertical-lr;
    width: 4px;
    left: 1020px;
    top: -2px;
}

.ud_input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    background-color: #0000ff;
    border-radius: 2px;
    height: 5px;
    width: 24px;
    pointer-events: all;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

/* slider thumb */
.ud_input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-left: -15px; /* Offsets thumb on the track */
    //border-radius: 2px;
    height: 5px;
    width: 24px;
    pointer-events: all;
    background-color: #00f;
    cursor: pointer;
}

.infoLayer-display{
    position: relative;
    width:300px;
    height:30px;
    left:0px;
    top:360px;
}

.infoLayer{
    position: relative;
    left:0px;
    top:0px;
}

.info-min{
    position: relative;
    left:100px;
    top:-17px;
}

.info-max{
    position: relative;
    left:200px;
    top:-35px;
}
