/* info.css */
body {
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    background-color:#333;
    color: #ffffff;
}

.sdr-info {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

select {
    font-size: 0.8em;
    background-color: #000;
    color: #0F0;
    border:0px;
    outline:0px;
}

option{
    color: yellow;
}

label {
    font-size: 0.9em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.spectrogram-display {
    border: 1px solid #FFF;
    width: 1030px;
    height: 390px;
    padding: 0.5em;
    background: #000;
}

.display-controls {
    float: left;
}

.inline-display {
    display: flex;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.spectrogram {
    border: 1px solid #CCC;
}

.grid {
    //user-select: none;
    //-webkit-user-select: none;
    //-moz-user-select: none;
    position:absolute;
    left:0px;
    top:0px;
    display:none;
}

.ctrl-buttons {
    display:grid;
    width: 1028px;
    border: 1px solid #666;
    //padding: 4px;
    grid-template-columns: repeat(15, 1fr);
}

.ctrl-button {
    height: 28px;
    width: 79px;
    padding: 4px;
    background: #333;
    border: 1px solid #666;
    color: #0F0;
    //margin: 1px;
    font-size: .8em;
}

button {
    padding: 0.4em;
    background: #333;
    border: 1px solid #666;
    color: #0F0;
    font-size: 0.9em;
}

button:hover {
    background: #005;
}

.peak_checkboxes {
    color: #FFF;
    margin-top: 10px;
    float:left;
    vertical-align: bottom;
}

.peak_values {
    color: #FFF;
    margin-top: 10px;
    float:left;
    vertical-align: bottom;
}

.range-controls {
    float:left;
    vertical-align: bottom;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  position: absolute;
  background-color: #0F0;
  pointer-events: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #00FF00;
    border-radius: 2px;
    width: 2px;
    height: 2px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */
  border-radius: 2px;
  height: 14px;
  width: 5px;
  pointer-events: all;
  background-color: #0f0;
  cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #00ff00;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #00FF00;
  border-radius: 1px;
  height: 2px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    background-color: #00ff00;
    border-radius: 2px;
    height: 14px;
    width: 5px;
    pointer-events: all;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #00ff00;
  outline-offset: 0.125rem;
}

.lr_input[type=range] {
    width: 300px;
    margin-top: 1.35em;
    margin-left: 0.0em;
}

.ud_input[type=range][orient=vertical] {
    //-webkit-appearance: none;
    writing-mode: vertical-lr;
    width: 4px;
    left: 1020px;
    top: -2px;
}

.ud_input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    background-color: #0000ff;
    border-radius: 2px;
    height: 5px;
    width: 24px;
    pointer-events: all;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

/* slider thumb */
.ud_input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-left: -15px; /* Offsets thumb on the track */
  //border-radius: 2px;
  height: 5px;
  width: 24px;
  pointer-events: all;
  background-color: #00f;
  cursor: pointer;
}

