<div id="scanner" class="module_tab" style="position:relative;display:block;">
{% if container %}
    {% set scanner = {} %}
    {% set config = scanner.__setitem__("config", {}) %}
    {% set CELL_IDENT_FIELD = scanner.__setitem__("CELL_IDENT_FIELD", "BSSID") %}
    {% set CELL_NAME_FIELD = scanner.__setitem__("CELL_NAME_FIELD", "SSID") %}
    {% set CELL_STRENGTH_FIELD = scanner.__setitem__("CELL_STRENGTH_FIELD", "Signal") %}
    {% set TEMPLATE_AJAX_URL = scanner.config.__setitem__("TEMPLATE_AJAX_URL", "http://wifi.localhost:5006/scan") %}
{% endif %}
    <script>
        peity.defaults.line = {
            delimiter: ",",
            fill: "#777",
            height: 18,
            width: 150,
            max: -100,
            min: 0,
            stroke: "#00ff00",
            strokeWidth: 2
        }

        Tabulator.extendModule("mutator", "mutators", {
            signalMutator:function(value, data, type, mutatorParams){

            var sgnlList = [];
            for (const pt of value) {
                sgnlList.push(pt['sgnl'])
            }
            return sgnlList;

            },
        });

        // Formatter to generate peity charts
        var chartFormatter = function(cell, formatterParams, onRendered){

            var content = document.createElement("span");
            var values = cell.getValue();
            content.classList.add('line');
            content.innerHTML = values.join(",");

            // after the cell element has been added to the DOM
            onRendered(function(){
                peity(content, 'line');
            });

            return content;
        };

        // Formatter to generate SSID Quality indicia
        // todo: needs refactor to base color on configurable attribute

        var ssidFormatter = function(cell, params){
            var content = document.createElement("span");

            max = params && params.max ? params.max : 100;
            min = params && params.min ? params.min : 0;
            var colors = params.colors;
            var color = "#666666";
            var percent;
            var percentValue;

            const data = cell.getRow().getData();
            var value = data.text_attributes.Quality; // todo: make configurable

            if(isNaN(value) || typeof cell.getValue() === "undefined"){
                return;
            }

            //make sure value is in range
            percentValue = parseFloat(value) <= max ? parseFloat(value) : max;
            percentValue = parseFloat(percentValue) >= min ? parseFloat(percentValue) : min;

            //workout percentage
            percent = (max - min) / 100;
            percentValue = Math.round((percentValue - min) / percent);

            var unit = 100 / colors.length;
            var index = Math.floor(percentValue / unit);

            index = Math.min(index, colors.length - 1);
            index = Math.max(index, 0);

            let qualcolor = colors[index];
            content.innerHTML = "<div id='{{ scanner.CELL_NAME_FIELD }}' style='position:absolute;left:10px;display:inline-block;'>" + data.text_attributes.{{ scanner.CELL_NAME_FIELD }} + "</div>&nbsp;<span id='quality_ind' class='' style='position:absolute;top:0px;left:0px;text-align:right;background:" + qualcolor + ";width:6px;height:24px;'>&nbsp;</span>";

            return content
        };
    </script>
    <script>
        var scanner = new Tabulator("#scanner", {
            ajaxURL:"{{ scanner.config.TEMPLATE_AJAX_URL  }}",      // request URI
            ajaxConfig:"GET",                                       // ajax config options go here
            headerVisible:true,
            dataLoaderLoading:dataLoaderLoading,                    // change "Loading" message to "&nbsp;"
            index:"{{ scanner.CELL_IDENT_FIELD  }}",                // use CELL_IDENT_FIELD as index [dynamic]
            rowFormatter:function(row){
                row.getElement().style = "height:24px";
                if(row.getData().tracked == true){
                    // row.getElement().style.backgroundColor = "#777777";
                }
            },

            dependencies:{
                datetime: luxon,
            },

            persistence:{
                sort: true,                                         //persist column sorting
                filter: true,                                       //persist filters
            },

            /*
            const data = cell.getRow().getData()['text_attributes'];
            console.log(data);


            data.forEach(function(attribute)  {
                const attr_key = attribute.getKey();
                const attr_val = attribute.getRows();

                console.log("attr_key" + attr_key);
                console.log("attr_val" + attr_val);

                //return "{title:" + attr_key +", field:" + attr_val + ", width:50}",
            });
            */

            columns:[

                {field:"tracked", width:102, formatter: function(cell, formatterParams) {
                    const data = cell.getRow().getData();
                    const trgt = '{{ module }}'; // todo: depends on signal type!!!

                    var _color = colorUniqId(data.{{ scanner.CELL_IDENT_FIELD  }}, ':');
                    var p_signal_color = 'rgba(' + _color + ', 1.0)';
                    var text_color = 'rgba(' + averageColor(_color) + ', 1.0)';

                    if (data.tracked == true) {
                        if (data.is_mute == false) {
                            return "<button id='remove_button_" + data.{{ scanner.CELL_IDENT_FIELD  }} + "' style='width:24px;' class='trk_btn rem_button' value='"+data.{{ scanner.CELL_IDENT_FIELD  }}+"' data-action='REMOVE' data-target=" + trgt + ">x</button><button id='mute_button_" + data.{{ scanner.CELL_IDENT_FIELD  }} + "' style='color:" + text_color +"; background-color:" + p_signal_color +";' class='mute_btn unmute_button' value='" + data.{{ scanner.CELL_IDENT_FIELD  }} + "' data-action='MUTE' data-target=" + trgt + ">MUTE</button>";
                        } else {
                            return "<button id='remove_button_" + data.{{ scanner.CELL_IDENT_FIELD  }} + "' style='width:24px;' class='trk_btn rem_button' value='"+data.{{ scanner.CELL_IDENT_FIELD  }}+"' data-action='REMOVE' data-target=" + trgt + ">x</button><button id='mute_button_" + data.{{ scanner.CELL_IDENT_FIELD  }} + "' style='color:" + text_color +"; background-color:" + p_signal_color +";' class='mute_btn   mute_button' value='" + data.{{ scanner.CELL_IDENT_FIELD  }} + "' data-action='MUTE' data-target=" + trgt + ">UNMUTE</button>";
                        }
                    } else {
                        return "<button id='add_button_" + data.{{ scanner.CELL_IDENT_FIELD  }} + "' style='width:96px;' class='trk_btn add_button button' value='"+data.{{ scanner.CELL_IDENT_FIELD  }}+"' data-action='ADD' data-target=" + trgt + ">ADD</button>";
                    }
                }},

                {title:"{{ scanner.CELL_IDENT_FIELD  }}", field:"{{ scanner.CELL_IDENT_FIELD  }}", width:120},

                {title:"{{ scanner.CELL_NAME_FIELD }}", field:"text_attributes.{{ scanner.CELL_NAME_FIELD }}", width:140, formatter:ssidFormatter, formatterParams:{
                    field:"Quality",
                    colors:["red", "orange", "yellow", "#008800", "#00FF00"]
                }},

                {title:"Last", field:"signal_cache", width:30, formatter: function(cell, formatterParams) {

                    var content = document.createElement("span");
                    var values = cell.getValue();
                    let last = values[values.length-1];
                    content.innerHTML += last;

                    return content;

                }},
                {title:"History", field:"signal_cache", mutator:"signalMutator",  width:162, formatter:chartFormatter, sorter:"array", sorterParams:{type:"length"}},

                // should 'iterate' text_attributes instead.
                {title:"Ch.", field:"text_attributes.Channel", width:50},
                {title:"Freq.", field:"text_attributes.Frequency", width:70},
                {title:"Sec.", field:"text_attributes.Encryption", formatter: "tickCross", width:30},
                {title:"Vendor", field:"text_attributes.Vendor", width:100},

                {title:"Elapsed", field:"elapsed", width:75},
                {title:"Created", field:"created", width:75, formatter:"datetime", formatterParams:{
                    outputFormat:"HH:mm:ss",
                    invalidPlaceholder:"--:--:--",
                }},
                {title:"Updated", field:"updated", width:75, formatter:"datetime", formatterParams:{
                    outputFormat:"HH:mm:ss",
                    invalidPlaceholder:"--:--:--",
                }},
            ],
        });
    </script>
</div>