<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WifiScanner</title>
    <link rel="stylesheet" href="{{ url_for('wifi_bp.static', filename='css/wifi_found.css') }}">
    <link rel="stylesheet" href="{{ url_for('wifi_bp.static', filename='tabulator/css/tabulator_midnight_clear.css') }}">

    <script type="text/javascript" src="{{ url_for('wifi_bp.static', filename='tabulator/js/tabulator.min.js') }}"></script>

</head>
<body>
    <div id="wifi_found"></div>
    <script>
    const dataLoaderLoading = "&nbsp;";
    var table = new Tabulator("#wifi_found", {
        ajaxURL:"{{ url_for('wifi_bp.wifi_scan') }}",   // request URI [MODEL JS XHR LIKE THIS]
        ajaxConfig:"GET",                               // ajax config options go here
        index:"BSSID",                                  // use BSSID as index
        minHeight:20,                                   // set minimum height of *table*
        selectableRows:false,
        columns:[
            {title:"SSID", field:"SSID", width:115},
            {title:"BSSID", field:"BSSID", width:125},
            {title:"Found", field:"created", width:60},     // note the field here is 'created'
        ],
    });
    table.setFilter("tracked", "=", true);

    function show_tracked(){
        setInterval(function(){
            table.setData();
        }, 1000);
    };

    show_tracked();
    </script>
</body>
</html>