body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color:#333;
}

.cam_button {
    width:33px;
    height:33px;
    font-size:20px;
    font-weight:bold;
    border-radius:3px;
    color:#333;
    background-color:#999;
}

.videodiv {
    width:704px;
    height:480px;
    position:absolute;
    left:0px;
    top:0px;
}

._grid {
    position:absolute;
    left:0px;
    top:0px;
    display:none;
}

._video {
    position:absolute;
    left:0px;
    top:0px;
}

._target {
    max-width: 100%;
    max-height: 100%;
}

.cam_button_box {
    position:relative;
    width:106px;
    height:33px;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    padding: 3px 3px 3px 3px;
}

.multi_button_text {
    position:relative;
    font-size:12px;
    font-weight:bold;
    left:-4px;
    top:-3px;
}

.cam_info_box {
    position:absolute;
    width:305px;
    height:33px;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    padding: 3px 3px 3px 3px;
}

.cam_slider_outputs{
    position:relative;
    font-size:14px;
    font-weight:bold;
    text-justify:right;
}

.cam_slider {
    height:10px;
    width:100px;
}

.cam_checkbox_box {
    position:absolute;
    width:22px;
    height:39px;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    //padding: 3px 3px 3px 3px;
}

.cam_slider_box {
    position:absolute;
    width:104px;
    height:36x;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    padding: 3px 3px 3px 3px;
}


/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 0px;
  height: 2px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */
  background-color: #00ff00;
  border-radius: 2px;
  height: 14px;
  width: 5px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #00ff00;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #ffffff;
  border-radius: 0px;
  height: 2px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #00ff00;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 2px;
  height: 14px;
  width: 5px;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #00ff00;
  outline-offset: 0.125rem;
}


.wifi_joy {}
.wifi_joy_status {}

