<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EBS</title>

    <link rel="stylesheet" href="{{ url_for('ebs_bp.static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('ebs_bp.static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('ebs_bp.static', filename='css/ebs.css') }}">

    <script src="{{ url_for('ebs_bp.static', filename='js/ebs.js') }}"></script>

</head>
<body>
    <div>
    <form action="http://ebs.localhost:5003{{ url_for('.ebs_enunciate', msg=msg) }}"  method="POST">
        Enunciate:<br>
        <input type="text" name="msg" value="say something">
        <input type="submit">
    </form>
    </div>
</body>
</html>