<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Cango-29v04.js') }}"></script>
    <script src="{{ url_for('static', filename='js/CangoAxes-10v06.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Spectrogram-2v01.js') }}"></script>
    <script src="{{ url_for('static', filename='js/make_spectrogram.js') }}"></script>
</head>
<body>
    <button onclick="extractSignal()">Extract Signal</button>
    <!-- img src="{# { url_for('spectrogram_stream') } #}" / -->

    <div class="figHolder" style="">
      <canvas id="cvs" width="1024" height="200"></canvas>
    </div>

</body>
</html>