<script>
    const rangeMin = document.getElementById("rangeMin");
    const rangeMax = document.getElementById("rangeMax");

    function updateSliderBounds() {
        let minVal = parseInt(rangeMin.value);
        let maxVal = parseInt(rangeMax.value);

        if (minVal > maxVal) {
            minVal = maxVal;
            rangeMin.value = minVal;
        }

        normBounds.minDb = minVal;
        normBounds.maxDb = maxVal;

        document.getElementById("rangeMinDb").textContent = `${minVal} dB`;
        document.getElementById("rangeMaxDb").textContent = `${maxVal} dB`;

    }

    rangeMin.addEventListener('input', updateSliderBounds);
    rangeMax.addEventListener('input', updateSliderBounds);

    window.addEventListener('DOMContentLoaded', () => {
        // Instantiate InfoLayer Handlers
        const highlightLayer = new HighlightLayer("cvs_hl");
        const highlightData = {};
        setupInfoLayerHandlers(highlightLayer.canvas, highlightData);

        const latchButton = document.getElementById('ctrl_live');
        const statusText = document.getElementById('ctrl_live_status');
        let isLatched = false; // Initial state: button is off

        latchButton.addEventListener('click', () => {
            isLatched = !isLatched; // Toggle the state

            if (isLatched) {
                statusText.textContent = 'Online';
                latchButton.classList.add('active'); // Add a class for styling
            } else {
                statusText.textContent = 'Offline';
                latchButton.classList.remove('active'); // Remove the class
            }
        });

    });

</script>

