body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color:#333;
}

.camcontroller {
    width:709px;
    height:493px;
}

.wifiscanner {
    width:965px;
    height:935px;
}

.gpsmapper {
    width:709px;
    height:443px;
}
