<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MAP</title>
</head>
<body>
    <iframe width="709" height="444" src="http://localhost:5173/" allow="geolocation"></iframe>
</body>
</html>
