<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MagPi CAM</title>
    </head>
    <body>
    {% set tab = 'cam' %}
    {% include 'cam.js.j2' %}
    </body>
</html>
