/* info.css */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color:#333;
}

.info-layer {
  position: absolute;
  width: 105px;
  color: #FFF;
  background-color: #333;
  border: 1px solid #ccc;
  display: none;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  padding: 10px;
  box-sizing: border-box;
}

.info-content h3 {
  margin-top: 0;
  font-size: 18px;
}

.info-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.info-buttons button {
    width:80px;
    height:22px;
    font-size: 12px;
    font-weight: bold;
    border-radius:3px;
    background-color:#999;
    color:#333;
}
