body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

button {
    width:90px;
    font-size: 14px;
    font-weight: bold;
}

td .id_container{
    align:left;
    width:110px;
    text-align:left;
}

td .bar_container{
    width:100px;
    text-align:left;
}

.header {
    font-size: 15px;
    text-align: left;
    margin-right: auto;
    padding: 5px;
}

div .found  {
}

div .found_cells {
    width: 100%;
    padding: 20px;
}

div .message {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    color: red;
}

/* UI elements */

/*
.idx_button {
    background-color: #2F4F4F;
}
*/