<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOTION</title>

    <link rel="stylesheet" href="{{ url_for('mot_bp.static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('mot_bp.static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('mot_bp.static', filename='css/motion.css') }}">

    <script src="{{ url_for('mot_bp.static', filename='js/motion.js') }}"></script>
    <script src="{{ url_for('mot_bp.static', filename='js/jquery-3.3.1.min.js') }}"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>

</head>
<body>
    <div class="w3-container">
        <table class="w3-striped w3-card-4">
            <tr class="w3-row">
                <td class="w3-cell">
                    <button class="w3-button w3-blue-gray w3-round w3-hover-gray" value="" onClick="">MOTION</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>