<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <link rel="stylesheet" href="{{ url_for('mot_bp.static', filename='css/motion.css') }}">

</head>
<body>
    <div id="" class="">
        <div id="cam_slider_krnl" style="">
            <input id="cam_slider_krnl_input" style="" class="cam_slider" type="range" min="1" max="128" step="2" value="10" onChange="handleSlider(this);"/><br>
            <span id="cam_slider_krnl_output">UNKNOWN</span><br>
        </div>
        <span>
            <canvas id="canvas" width="704" height="480"></canvas>
        </span>
    </div>
</body>
<script src="{{ url_for('mot_bp.static', filename='js/motion.js') }}"></script>

</html>