{% if container %}
<div id="net" class="module_tab" style="position:relative;display:none;">
{% else %}
<div id="net" class="module_tab" style="position:relative;display:block;">
{% endif %}
    <iframe src="{{ dashboardURL }}" allow="geolocation" height="100%" width="100%"></iframe>
</div>
